/* src/pages/DashboardClub.css */

:root {
  --primary-bg: #1a237e; /* Azul oscuro */
  --secondary-bg: #37474f; /* Gris carbón */
  --accent-color: #ffc107; /* Naranja/amarillo */
  --highlight-color: #cddc39; /* Verde lima */
  --text-color: #ffffff;
  --card-bg: #263238; /* Un poco más claro que el gris carbón */
}

body {
  background-color: var(--secondary-bg);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif; /* Tipografía moderna */
}

.dashboard-club-modern {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: var(--primary-bg);
  padding: 20px;
  border-right: 1px solid var(--accent-color);
  z-index: 1000;
}

.dashboard-main-content {
  flex-grow: 1;
  padding: 80px;
  background-color: var(--secondary-bg);
  overflow-y: auto;
}


.dashboard-header-modern {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.user-info-modern {
  display: flex;
  align-items: center;
}

.user-info-modern span {
  margin-right: 20px;
  font-size: 1rem;
  color: var(--text-color);
}

.logout-btn-modern {
  background: var(--accent-color);
  color: var(--primary-bg);
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.stats-grid-modern {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.stat-card-modern,
.info-card-modern,
.evento-card-modern {
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  color: var(--text-color);
}

.stat-card-modern h3, .stat-card-modern p,
.info-card-modern h2, .info-card-modern h3, .info-card-modern h4, .info-card-modern h5, .info-card-modern p, .info-card-modern strong, .info-card-modern li,
.evento-card-modern h4, .evento-card-modern p, .evento-card-modern strong {
    color: var(--text-color);
}

.info-card-modern h3 {
    margin-top: 0;
    color: var(--highlight-color);
}

.eventos-filters-modern {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.eventos-filters-modern select {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--primary-bg);
    border-radius: 8px;
    padding: 10px;
}

.eventos-grid-modern {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.actions-grid-modern {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.action-btn-modern {
    background-color: var(--accent-color);
    color: var(--primary-bg);
    border: none;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.action-btn-modern:hover {
    background-color: var(--highlight-color);
}